.lizdek_gif {
    width: 50%;
    filter: drop-shadow(0 4px 20px #880000FF);
}

.background_loop {
    min-width: 100%;
    min-height: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
}

.social_icon {
    max-width: 20px;
    fill: white;
    filter: invert();
    padding-left: 10px;
    padding-right: 10px;
}

.social_container {
    position: absolute;
    bottom: 20px;
    z-index: 5;
    display: flex;
    justify-content: center;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
}

.navigation-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.navigation-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.3s ease;
}

.navigation-links a:hover {
    opacity: 0.8;
}

.crossed-out {
    color: #666;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    letter-spacing: 4px;
    /* filter: drop-shadow(0 0px 20px #880000FF); */
}